html{
    background-color: #aaa;
    height: 100%;
}
nav{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: teal;
}
a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 1.3rem;
}