<div class="container p-4">
    <h2 class="p-5 text-center">Users List</h2>
    <a class="add btn" routerLink="/addUser"> <span><i class="fas fa-plus-square"></i></span>Add User</a>
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ClientId</th>
            <th scope="col">ClientKey</th>
            <th scope="col">Category</th>
            <th scope="col">Email</th>
            <th scope="col">UserName</th>
            <th scope="col">Recipients</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of users[0]; let currentIndex=index;">
          <tr>
            <td>{{user.clientId}}</td>
            <td>{{user.clientKey}}</td>
            <td>Category: <span>{{user.category}}</span></td>
            <td>{{user.email}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.recipients}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(user.clientId)">Delete</button></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
  </div>
  </div>